html,
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

p {
  padding: 10px 5px;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  min-height: 0;
}
html,body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  background: #73b4b4;
}
.container {
  padding: 10px 0;
}
.sliders__title {
  margin: 5px 0;
  text-align: center;
}
.slider,
.slider__two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.slider .mySlider__item{
  background: none;
}