html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  min-height: 0;
}

.container .slider,
.slider__two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  text-align: center;
  position: relative;
}

.mySlider__list {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mySlider__item {
  position: absolute;
  background: #e5e5e5;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.mySlider__item.active {
  position: relative;
  z-index: 1;
  width: 100%;
}

.mySlider__item.inslide {
  z-index: 2;
  width: 100%;
}

.mySlider__nav {}

.mySlider__btn {
  position: absolute;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  font-size: 40px;
  color: #000;
  font-family: Arial, sans-serif;
  background: #909090;
  top: 50%;
  margin-top: -20px;
}

.mySlider__btn-next {
  left: 100%;
  /*
  width: 30px;
  height: 30px;
*/
  /*    background: #000;*/
}

.mySlider__btn-prev {
  right: 100%;
  /*
  width: 30px;
  height: 30px;
*/
  /*    background: #000;*/
}

.slider__dots {
  /*
	display: inline-block;
	margin-top: 20px;
*/
}

.mySlider__dots-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ccc;
  margin-right: rem(10px);
  cursor: pointer;
}

.mySlider__dots-item.active {
  background: yellow;
}

.slider__dots-link {
  display: block;
  width: 100%;
  height: 100%;
}
