html,
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

p {
  padding: 10px 5px;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  min-height: 0;
}

.container {
  margin-top: 40px;
}

.slider,
.slider__two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}